$main_bg: #f1f1f1;
$main_color: #555;
$main_color_active: #dfdfdf;
$white: #f9f9f9;

$secondary_bg: #ddd;
$button_bg: #eee;
$border_color: #d3d3d3;
$border_color2: #ccc;
$bg_color_buttons: #e2e2e2;
$border_color_dark: #cecece;

$disabled_color: rgba(85, 85, 85, 0.53);
$disabled_bg: #ececec;

body {
	background: $main_bg;
	color: $main_color;
}

a:hover {
	cursor: pointer;
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
	background: $disabled_bg;
}

.media-frame .search {
	padding: 7px 4px;
}

.wp-core-ui .selected.attachment {
	-webkit-box-shadow: inset 0 0 0 5px #fff,inset 0 0 0 7px #ccc;
	    box-shadow: inset 0 0 0 5px #fff,inset 0 0 0 7px $border_color;
}

.wp-core-ui .attachment.details .check, .wp-core-ui .attachment.selected .check:focus, .wp-core-ui .media-frame.mode-grid .attachment.selected .check {
	background-color: #555;
	-webkit-box-shadow: 0 0 0 1px #fff,0 0 0 2px #555;
	box-shadow: 0 0 0 1px #fff,0 0 0 2px #555;
}

#adminmenu a,
#adminmenu div.wp-menu-image:before,
#adminmenu .current div.wp-menu-image:before, #adminmenu .wp-has-current-submenu div.wp-menu-image:before, #adminmenu a.current:hover div.wp-menu-image:before, #adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before,
#adminmenu .opensub .wp-submenu li.current a, #adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:focus, #adminmenu .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a,
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus,
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus,
#adminmenu .wp-submenu a,
.media-menu>a:hover,
.media-frame a:active, .media-menu>a, .media-frame a, .media-frame a:hover {
	color: $main_color;
}


#adminmenu li .awaiting-mod span, #adminmenu li span.update-plugins span,
#adminmenu .awaiting-mod, #adminmenu .update-plugins {
	-webkit-border-radius: 3px;
	        border-radius: 3px;
    line-height: normal;
}


#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
	border-right-color: $disabled_bg;
}

#adminmenu .wp-submenu li.current {
	background: $button_bg;
}

#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu {
	background: $white;
}

#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus,
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
	background-color: $main_color_active;
    color: $main_color;
}

#adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before {
	color: $main_color;
}

input[type=radio]:checked:before,
.filter-count .count, .title-count {
	background: $main_color;
}

input[type=text]:focus, input[type=search]:focus, input[type=radio]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, input[type=password]:focus, input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, select:focus, textarea:focus {
	box-shadow: none;
	border-color: $border_color2;
}

#wpadminbar {
	background: $secondary_bg;
	color: $main_color;
}

#wpadminbar #wp-admin-bar-user-info a {
	cursor: pointer;
}

#screen-meta,
#contextual-help-link-wrap, #screen-options-link-wrap {
	background: $white;
}

#wp-content-editor-tools .wp-media-buttons .button:active {
	margin-bottom: 0;
	margin-top: 0;
	position: static;
}
#wpadminbar .ab-empty-item, 
#wpadminbar a.ab-item, 
#wpadminbar>#wp-toolbar span.ab-label, 
#wpadminbar>#wp-toolbar span.noticon,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar li #adminbarsearch.adminbar-focused:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar li #adminbarsearch.adminbar-focused:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a,
#wpadminbar #adminbarsearch:before, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before,
#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label, #wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label, #wpadminbar>#wp-toolbar li.hover span.ab-label,
a, a:active, a:hover,
input[type=checkbox]:checked:before {
	color: $main_color;
}

#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, {
	text-decoration: underline;
}

#wpadminbar .quicklinks>ul>li>a {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	margin-left: -1px;
	margin-right: -1px;
}

#wpadminbar .ab-top-menu>li.hover>.ab-item, 
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, 
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item, 
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus,
#wpadminbar .menupop .ab-sub-wrapper, 
#wpadminbar .shortlink-input {
	background: $main_bg;
	color: $main_color;
	border-left: 1px solid $border_color;
	border-right: 1px solid $border_color;
}

.wp-person a:focus .gravatar, a:focus, a:focus .media-icon img,
#wpadminbar .menupop .ab-sub-wrapper,
.wp-core-ui .button-link:focus, .wp-core-ui .button-secondary:focus, .wp-core-ui .button.focus, .wp-core-ui .button:focus,
.wp-core-ui .button, .wp-core-ui .button-secondary,
input[type=text], input[type=search], input[type=radio], input[type=tel], input[type=time], input[type=url], input[type=week], input[type=password], input[type=checkbox], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], select, textarea,
.wrap .page-title-action:focus,
.wp-core-ui .button-secondary:active, .wp-core-ui .button.active, .wp-core-ui .button.active:hover, .wp-core-ui .button:active,
.wp-core-ui .button-primary.active, .wp-core-ui .button-primary.active:focus, .wp-core-ui .button-primary.active:hover, .wp-core-ui .button-primary:active,
.wp-core-ui .button.button-primary.button-hero,
.wp-core-ui .button.button-primary.button-hero.active, .wp-core-ui .button.button-primary.button-hero.active:focus, .wp-core-ui .button.button-primary.button-hero.active:hover, .wp-core-ui .button.button-primary.button-hero:active,
#adminmenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, .folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu,
.postbox,
.media-frame a:focus,
.wp-core-ui .attachment.details:focus, .wp-core-ui .attachment:focus, .wp-core-ui .selected.attachment:focus {
	box-shadow: none;
}

.wp-core-ui .attachment.details {
	webkit-box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 7px #555;
	    box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 7px #555;
}

.wp-core-ui .attachment.details .check, .wp-core-ui .attachment.selected .check:focus, .wp-core-ui .media-frame.mode-grid .attachment.selected .check {
	
}

#adminmenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, .folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
	border: 1px solid #dfdfdf;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
	right: -1px;
}

#adminmenu .wp-has-submenu .wp-submenu a:hover {
	text-decoration: underline;
}

.wrap .page-title-action:focus,
.wp-core-ui .button:active {
	border-color: $border_color_dark;
}

input[type=text], input[type=search], input[type=radio], input[type=tel], input[type=time], input[type=url], input[type=week], input[type=password], input[type=checkbox], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], select, textarea {
	border: 1px solid $border_color2;
}

#wpadminbar .menupop .ab-sub-wrapper {
	border: 1px solid #D3D3D3;
	border-top: none;
	margin-left: -1px;
    margin-right: -1px;
}

#wp-admin-bar-top-secondary .menupop .ab-sub-wrapper {
	border-right: none;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
	background: $main_color_active;
}

.contextual-help-tabs .active {
	border-left: 2px solid #dfdfdf;
	box-shadow: none;
}

.wp-core-ui .button-primary,
.wp-core-ui .button-primary.focus, 
.wp-core-ui .button-primary.hover, 
.wp-core-ui .button-primary:focus, 
.wp-core-ui .button-primary:hover,
.wrap .add-new-h2:hover, .wrap .page-title-action:hover,
.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active,
.wp-core-ui .button-secondary:focus, .wp-core-ui .button-secondary:hover, .wp-core-ui .button.focus, .wp-core-ui .button.hover, .wp-core-ui .button:focus, .wp-core-ui .button, .wp-core-ui .button:hover {
	background-color: $bg_color_buttons;
    border-color: $border_color_dark;
    text-shadow: none;
    color: $main_color;
    padding: 9px 12px 7px;
    margin-top: 3px;
    border-width: 0 1px 4px 1px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.wp-core-ui .button,
.wp-core-ui .button:hover,
.wp-core-ui .button:focus {
	margin-top: 0;
	padding: 8px 12px 6px;
	border-width: 0 1px 4px 1px;
}

.wp-core-ui .button.insert-media:hover,
.wp-core-ui .button.insert-media:hover,
.wp-core-ui .button.insert-media, {
	padding: 6px 7px 4px 5px;
}

.wp-core-ui .media-toolbar-primary .button.button-large {
	padding: 9px 12px 7px;
	margin: 13px 0;
}

.wp-core-ui .button.button-hero:hover,
.wp-core-ui .button.button-hero:active,
.wp-core-ui .button.button-hero:focus,
.wp-core-ui .button-group.button-hero .button, .wp-core-ui .button.button-hero,
.wp-core-ui .welcome-panel .button.button-hero {
	padding: 12px 36px;
	font-size: 14px;
	height: auto;
	line-height: normal;
}

.wp-core-ui .button.button-small,
.wp-core-ui .button.button-small:hover  {
	vertical-align: bottom;
	height: auto;
	line-height: normal;
	padding: 1px 8px;
}

#dashboard_right_now li a:before, #dashboard_right_now li span:before, .welcome-panel .welcome-icon:before {
	color: $main_color;
}

.wp-core-ui .button-secondary:active, .wp-core-ui .button.active, .wp-core-ui .button.active:hover, .wp-core-ui .button:active {
		transform: translateY(0px);
}

.wrap .page-title-action,
.wrap .page-title-action:hover,
.wrap .page-title-action, .wrap .page-title-action:active ,
.wp-core-ui .button-secondary:focus, .wp-core-ui .button-secondary:hover, .wp-core-ui .button.focus, .wp-core-ui .button.hover, .wp-core-ui .button:focus, .wp-core-ui .button:hover,
.wp-core-ui .button-primary.active, 
.wp-core-ui .button-primary.active:focus, 
.wp-core-ui .button-primary.active:hover, 
.wp-core-ui .button-primary:active,
.wp-core-ui .button-primary.focus, 
.wp-core-ui .button-primary.hover, 
.wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus {
	background: #e2e0e0;
	border-color: #cecece;
	vertical-align: middle;
}

.wp-core-ui .button,
.wp-core-ui p .button {
	vertical-align: middle;
}

.wp-core-ui .button-primary:hover {
	border-bottom-width: 4px;
}

.wp-core-ui .button-primary-disabled, .wp-core-ui .button-primary.disabled, .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary[disabled] {
	color: $disabled_color !important;
	background: $disabled_bg !important;
	border-color: $secondary_bg !important;
}

.wrap .page-title-action:hover, .wrap .page-title-action {
	border-bottom-width: 4px;
}

.wp-core-ui .button-primary.focus, 
.wp-core-ui .button-primary.hover, 
.wp-core-ui .button-primary:focus, 
.wp-core-ui .button-primary:hover,
.wrap .page-title-action:hover{
	border-bottom-width: 4px;
}

.wp-core-ui .button, .wp-core-ui .button-primary, .wp-core-ui .button-secondary {
	height: auto;
	width: auto;
	line-height: normal;
}

.wp-core-ui .button-group.button-large .button, 
.wp-core-ui .button.button-large {
	height: auto;
	line-height: normal;
	padding: 6px 12px 4px;
}

.wp-core-ui input.button,
.wp-core-ui input.button:hover,
.wp-core-ui input.button:focus,
.wp-core-ui input.button:active {
	border-radius: 50px;
	border-left-width: 2px;
	border-right-width: 2px;
	margin-right: 5px;
	-webkit-transition: all 0.2s;
	   -moz-transition: all 0.2s;
	    -ms-transition: all 0.2s;
	     -o-transition: all 0.2s;
	        transition: all 0.2s;
}

.wp-core-ui input.button:focus,
.wp-core-ui input.button:active, {
	background: #d0d0d0;
	border-color: #bdbdbd;
}

.wp-admin select {
	line-height: 33px;
	height: 33px;
	margin-bottom: 5px;
}

.search-box input[name="s"], .tablenav .search-plugins input[name="s"], .tagsdiv .newtag {
	height: 33px;
}

#adminmenu li.wp-menu-separator {
	background: $white;
	margin: 0;
	padding: 0;
}

#adminmenu li.wp-menu-separator,
#adminmenu div.separator {
	height: 0;
	border: 0;
	display: none;
}

#adminmenu li.wp-menu-separator,
#adminmenu div.wp-menu-name {
	border-bottom: 1px solid $main_color_active;	
}

#adminmenu .wp-has-current-submenu ul>li>a:not(:first-child) {
	padding-left: 20px;
}

#adminmenuback {
	border-right: 1px solid $main_color_active;
}

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu>li.current>a.current:after {
	right: -1px;
}

#collapse-menu,
#collapse-button div:after,
#collapse-menu:hover, #collapse-menu:hover #collapse-button div:after {
	color: $main_color;
}

#adminmenu .wp-first-item div.wp-menu-name {
	border-bottom: none;
}

.control-section-themes .accordion-section-title .change-theme {
	margin-top: -15px;
	font-weight: bold;
}

#adminmenu .wp-has-submenu .wp-submenu .current a:hover {
	text-decoration: none;
}

.welcome-panel {
	background: $white;
}

.postbox {
	border: 1px solid $border_color;
}

.postbox .hndle, .stuffbox .hndle {
	border-bottom: 1px solid $border_color;
}

.metabox-holder .postbox>h3, .metabox-holder .stuffbox>h3, .metabox-holder h2.hndle, .metabox-holder h3.hndle,
.comment-ays, .feature-filter, .imgedit-group, .popular-tags, .stuffbox, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {
	background: $button_bg;
}

#menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {
	border: 1px solid $border_color;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.column-comments .comment-count-approved, .column-comments .comment-count-no-comments, .column-response .comment-count-approved, .column-response .comment-count-no-comments {
	background: $main_color;
}

.wp-list-table a:hover {
	text-decoration: underline;
}

.postbox {
	background: $white;
}

/* Buttons */
@import 'buttons.scss';

