/* line 13, ../scss/eye-candy-light.scss */
body {
  background: #f1f1f1;
  color: #555;
}

/* line 18, ../scss/eye-candy-light.scss */
#wpadminbar {
  background: #ddd;
  color: #555;
}

/* line 23, ../scss/eye-candy-light.scss */
#wpadminbar #wp-admin-bar-user-info a {
  cursor: pointer;
}

/* line 27, ../scss/eye-candy-light.scss */
#screen-meta,
#contextual-help-link-wrap, #screen-options-link-wrap {
  background: #f9f9f9;
}

/* line 32, ../scss/eye-candy-light.scss */
#wpadminbar .ab-empty-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar li #adminbarsearch.adminbar-focused:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar li #adminbarsearch.adminbar-focused:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a,
#wpadminbar #adminbarsearch:before, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label, #wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label, #wpadminbar > #wp-toolbar li.hover span.ab-label,
a, a:active, a:hover,
input[type=checkbox]:checked:before {
  color: #555;
}

/* line 46, ../scss/eye-candy-light.scss */
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
  text-decoration: underline;
}

/* line 50, ../scss/eye-candy-light.scss */
#wpadminbar .quicklinks > ul > li > a {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  margin-left: -1px;
  margin-right: -1px;
}

/* line 57, ../scss/eye-candy-light.scss */
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
  background: #f1f1f1;
  color: #555;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

/* line 69, ../scss/eye-candy-light.scss */
.wp-person a:focus .gravatar, a:focus, a:focus .media-icon img,
#wpadminbar .menupop .ab-sub-wrapper,
.wp-core-ui .button-link:focus, .wp-core-ui .button-secondary:focus, .wp-core-ui .button.focus, .wp-core-ui .button:focus,
.wp-core-ui .button, .wp-core-ui .button-secondary,
input[type=text], input[type=search], input[type=radio], input[type=tel], input[type=time], input[type=url], input[type=week], input[type=password], input[type=checkbox], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], select, textarea,
.wrap .page-title-action:focus {
  box-shadow: none;
}

/* line 78, ../scss/eye-candy-light.scss */
.wrap .page-title-action:focus {
  border-color: #cecece;
}

/* line 82, ../scss/eye-candy-light.scss */
input[type=text], input[type=search], input[type=radio], input[type=tel], input[type=time], input[type=url], input[type=week], input[type=password], input[type=checkbox], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], select, textarea {
  border: 1px solid #ccc;
}

/* line 86, ../scss/eye-candy-light.scss */
#wpadminbar .menupop .ab-sub-wrapper {
  border: 1px solid #D3D3D3;
  border-top: none;
  margin-left: -1px;
  margin-right: -1px;
}

/* line 93, ../scss/eye-candy-light.scss */
#wp-admin-bar-top-secondary .menupop .ab-sub-wrapper {
  border-right: none;
}

/* line 97, ../scss/eye-candy-light.scss */
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #dfdfdf;
}

/* line 101, ../scss/eye-candy-light.scss */
.contextual-help-tabs .active {
  border-left: 2px solid #dfdfdf;
  box-shadow: none;
}

/* line 106, ../scss/eye-candy-light.scss */
.wp-core-ui .button-primary,
.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover,
.wrap .add-new-h2:hover, .wrap .page-title-action:hover,
.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active {
  background-color: #eee;
  border-color: #e2e2e2;
  text-shadow: none;
  color: #555;
  padding: 9px 12px 7px;
  border-width: 0 1px 4px 1px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 124, ../scss/eye-candy-light.scss */
.wrap .page-title-action,
.wrap .page-title-action:hover,
.wrap .page-title-action, .wrap .page-title-action:active {
  background-color: #e2e0e0;
  border-color: #cecece;
}

/* line 131, ../scss/eye-candy-light.scss */
.wp-core-ui .button-primary:hover {
  border-bottom-width: 4px;
}

/* line 136, ../scss/eye-candy-light.scss */
.wrap .page-title-action:hover, .wrap .page-title-action {
  border-bottom-width: 4px;
}

/* line 140, ../scss/eye-candy-light.scss */
.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover,
.wrap .page-title-action:hover {
  border-bottom-width: 4px;
}

/* line 148, ../scss/eye-candy-light.scss */
.wp-core-ui .button, .wp-core-ui .button-primary, .wp-core-ui .button-secondary {
  height: auto;
  width: auto;
  line-height: normal;
}
