/* line 16, ../scss/eye-candy-light.scss */
body {
  background: #f1f1f1;
  color: #555;
}

/* line 21, ../scss/eye-candy-light.scss */
a:hover {
  cursor: pointer;
}

/* line 25, ../scss/eye-candy-light.scss */
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
  background: #ececec;
}

/* line 29, ../scss/eye-candy-light.scss */
#adminmenu a,
#adminmenu div.wp-menu-image:before,
#adminmenu .current div.wp-menu-image:before, #adminmenu .wp-has-current-submenu div.wp-menu-image:before, #adminmenu a.current:hover div.wp-menu-image:before, #adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before,
#adminmenu .opensub .wp-submenu li.current a, #adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:focus, #adminmenu .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top > a:focus,
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top > a:focus,
#adminmenu .wp-submenu a {
  color: #555;
}

/* line 40, ../scss/eye-candy-light.scss */
#adminmenu li .awaiting-mod span, #adminmenu li span.update-plugins span,
#adminmenu .awaiting-mod, #adminmenu .update-plugins {
  border-radius: 3px;
  line-height: normal;
}

/* line 48, ../scss/eye-candy-light.scss */
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #ececec;
}

/* line 52, ../scss/eye-candy-light.scss */
#adminmenu .wp-submenu li.current {
  background: #eee;
}

/* line 56, ../scss/eye-candy-light.scss */
#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu {
  background: #f9f9f9;
}

/* line 60, ../scss/eye-candy-light.scss */
#adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus,
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
  background-color: #dfdfdf;
  color: #555;
}

/* line 66, ../scss/eye-candy-light.scss */
#adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before {
  color: #555;
}

/* line 70, ../scss/eye-candy-light.scss */
input[type=radio]:checked:before,
.filter-count .count, .title-count {
  background: #555;
}

/* line 75, ../scss/eye-candy-light.scss */
input[type=text]:focus, input[type=search]:focus, input[type=radio]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, input[type=password]:focus, input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, select:focus, textarea:focus {
  box-shadow: none;
  border-color: #ccc;
}

/* line 80, ../scss/eye-candy-light.scss */
#wpadminbar {
  background: #ddd;
  color: #555;
}

/* line 85, ../scss/eye-candy-light.scss */
#wpadminbar #wp-admin-bar-user-info a {
  cursor: pointer;
}

/* line 89, ../scss/eye-candy-light.scss */
#screen-meta,
#contextual-help-link-wrap, #screen-options-link-wrap {
  background: #f9f9f9;
}

/* line 94, ../scss/eye-candy-light.scss */
#wp-content-editor-tools .wp-media-buttons .button:active {
  margin-bottom: 0;
  margin-top: 0;
  position: static;
}

/* line 99, ../scss/eye-candy-light.scss */
#wpadminbar .ab-empty-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar li #adminbarsearch.adminbar-focused:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar li #adminbarsearch.adminbar-focused:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a,
#wpadminbar #adminbarsearch:before, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label, #wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label, #wpadminbar > #wp-toolbar li.hover span.ab-label,
a, a:active, a:hover,
input[type=checkbox]:checked:before {
  color: #555;
}

/* line 113, ../scss/eye-candy-light.scss */
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
  text-decoration: underline;
}

/* line 117, ../scss/eye-candy-light.scss */
#wpadminbar .quicklinks > ul > li > a {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  margin-left: -1px;
  margin-right: -1px;
}

/* line 124, ../scss/eye-candy-light.scss */
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
  background: #f1f1f1;
  color: #555;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

/* line 136, ../scss/eye-candy-light.scss */
.wp-person a:focus .gravatar, a:focus, a:focus .media-icon img,
#wpadminbar .menupop .ab-sub-wrapper,
.wp-core-ui .button-link:focus, .wp-core-ui .button-secondary:focus, .wp-core-ui .button.focus, .wp-core-ui .button:focus,
.wp-core-ui .button, .wp-core-ui .button-secondary,
input[type=text], input[type=search], input[type=radio], input[type=tel], input[type=time], input[type=url], input[type=week], input[type=password], input[type=checkbox], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], select, textarea,
.wrap .page-title-action:focus,
.wp-core-ui .button-secondary:active, .wp-core-ui .button.active, .wp-core-ui .button.active:hover, .wp-core-ui .button:active,
.wp-core-ui .button-primary.active, .wp-core-ui .button-primary.active:focus, .wp-core-ui .button-primary.active:hover, .wp-core-ui .button-primary:active,
.wp-core-ui .button.button-primary.button-hero,
.wp-core-ui .button.button-primary.button-hero.active, .wp-core-ui .button.button-primary.button-hero.active:focus, .wp-core-ui .button.button-primary.button-hero.active:hover, .wp-core-ui .button.button-primary.button-hero:active,
#adminmenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, .folded #adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  box-shadow: none;
}

/* line 150, ../scss/eye-candy-light.scss */
#adminmenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, .folded #adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  border: 1px solid #dfdfdf;
}

/* line 154, ../scss/eye-candy-light.scss */
#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
  right: -1px;
}

/* line 158, ../scss/eye-candy-light.scss */
#adminmenu .wp-has-submenu .wp-submenu a:hover {
  text-decoration: underline;
}

/* line 162, ../scss/eye-candy-light.scss */
.wrap .page-title-action:focus,
.wp-core-ui .button:active {
  border-color: #cecece;
}

/* line 167, ../scss/eye-candy-light.scss */
input[type=text], input[type=search], input[type=radio], input[type=tel], input[type=time], input[type=url], input[type=week], input[type=password], input[type=checkbox], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], select, textarea {
  border: 1px solid #ccc;
}

/* line 171, ../scss/eye-candy-light.scss */
#wpadminbar .menupop .ab-sub-wrapper {
  border: 1px solid #D3D3D3;
  border-top: none;
  margin-left: -1px;
  margin-right: -1px;
}

/* line 178, ../scss/eye-candy-light.scss */
#wp-admin-bar-top-secondary .menupop .ab-sub-wrapper {
  border-right: none;
}

/* line 182, ../scss/eye-candy-light.scss */
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #dfdfdf;
}

/* line 186, ../scss/eye-candy-light.scss */
.contextual-help-tabs .active {
  border-left: 2px solid #dfdfdf;
  box-shadow: none;
}

/* line 191, ../scss/eye-candy-light.scss */
.wp-core-ui .button-primary,
.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover,
.wrap .add-new-h2:hover, .wrap .page-title-action:hover,
.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active,
.wp-core-ui .button-secondary:focus, .wp-core-ui .button-secondary:hover, .wp-core-ui .button.focus, .wp-core-ui .button.hover, .wp-core-ui .button:focus, .wp-core-ui .button, .wp-core-ui .button:hover {
  background-color: #e2e2e2;
  border-color: #cecece;
  text-shadow: none;
  color: #555;
  padding: 9px 12px 7px;
  margin-top: 3px;
  border-width: 0 1px 4px 1px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 211, ../scss/eye-candy-light.scss */
.wp-core-ui .button,
.wp-core-ui .button:hover,
.wp-core-ui .button:focus {
  margin-top: 0;
  padding: 8px 12px 6px;
  border-width: 0 1px 4px 1px;
}

/* line 219, ../scss/eye-candy-light.scss */
.wp-core-ui .button.insert-media:hover,
.wp-core-ui .button.insert-media:hover,
.wp-core-ui .button.insert-media {
  padding: 6px 7px 4px 5px;
}

/* line 225, ../scss/eye-candy-light.scss */
.wp-core-ui .media-toolbar-primary .button.button-large {
  padding: 9px 12px 7px;
  margin: 13px 0;
}

/* line 230, ../scss/eye-candy-light.scss */
.wp-core-ui .button.button-hero:hover,
.wp-core-ui .button.button-hero:active,
.wp-core-ui .button.button-hero:focus,
.wp-core-ui .button-group.button-hero .button, .wp-core-ui .button.button-hero,
.wp-core-ui .welcome-panel .button.button-hero {
  padding: 12px 36px;
  font-size: 14px;
  height: auto;
  line-height: normal;
}

/* line 241, ../scss/eye-candy-light.scss */
.wp-core-ui .button.button-small,
.wp-core-ui .button.button-small:hover {
  vertical-align: bottom;
  height: auto;
  line-height: normal;
  padding: 1px 8px;
}

/* line 249, ../scss/eye-candy-light.scss */
#dashboard_right_now li a:before, #dashboard_right_now li span:before, .welcome-panel .welcome-icon:before {
  color: #555;
}

/* line 253, ../scss/eye-candy-light.scss */
.wp-core-ui .button-secondary:active, .wp-core-ui .button.active, .wp-core-ui .button.active:hover, .wp-core-ui .button:active {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

/* line 257, ../scss/eye-candy-light.scss */
.wrap .page-title-action,
.wrap .page-title-action:hover,
.wrap .page-title-action, .wrap .page-title-action:active,
.wp-core-ui .button-secondary:focus, .wp-core-ui .button-secondary:hover, .wp-core-ui .button.focus, .wp-core-ui .button.hover, .wp-core-ui .button:focus, .wp-core-ui .button:hover,
.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:focus,
.wp-core-ui .button-primary.active:hover,
.wp-core-ui .button-primary:active,
.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus {
  background: #e2e0e0;
  border-color: #cecece;
  vertical-align: middle;
}

/* line 274, ../scss/eye-candy-light.scss */
.wp-core-ui .button,
.wp-core-ui p .button {
  vertical-align: middle;
}

/* line 279, ../scss/eye-candy-light.scss */
.wp-core-ui .button-primary:hover {
  border-bottom-width: 4px;
}

/* line 283, ../scss/eye-candy-light.scss */
.wp-core-ui .button-primary-disabled, .wp-core-ui .button-primary.disabled, .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary[disabled] {
  color: rgba(85, 85, 85, 0.53) !important;
  background: #ececec !important;
  border-color: #ddd !important;
}

/* line 289, ../scss/eye-candy-light.scss */
.wrap .page-title-action:hover, .wrap .page-title-action {
  border-bottom-width: 4px;
}

/* line 293, ../scss/eye-candy-light.scss */
.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover,
.wrap .page-title-action:hover {
  border-bottom-width: 4px;
}

/* line 301, ../scss/eye-candy-light.scss */
.wp-core-ui .button, .wp-core-ui .button-primary, .wp-core-ui .button-secondary {
  height: auto;
  width: auto;
  line-height: normal;
}

/* line 307, ../scss/eye-candy-light.scss */
.wp-core-ui .button-group.button-large .button,
.wp-core-ui .button.button-large {
  height: auto;
  line-height: normal;
  padding: 6px 12px 4px;
}

/* line 314, ../scss/eye-candy-light.scss */
.wp-core-ui input.button,
.wp-core-ui input.button:hover,
.wp-core-ui input.button:focus,
.wp-core-ui input.button:active {
  border-radius: 50px;
  border-left-width: 2px;
  border-right-width: 2px;
  margin-right: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 329, ../scss/eye-candy-light.scss */
.wp-core-ui input.button:focus,
.wp-core-ui input.button:active {
  background: #d0d0d0;
  border-color: #bdbdbd;
}

/* line 335, ../scss/eye-candy-light.scss */
.wp-admin select {
  line-height: 33px;
  height: 33px;
  margin-bottom: 5px;
}

/* line 341, ../scss/eye-candy-light.scss */
.search-box input[name="s"], .tablenav .search-plugins input[name="s"], .tagsdiv .newtag {
  height: 33px;
}

/* line 345, ../scss/eye-candy-light.scss */
#adminmenu li.wp-menu-separator {
  background: #ececec;
  margin: 0;
  padding: 0 0 6px;
}

/* line 351, ../scss/eye-candy-light.scss */
#adminmenu li.wp-menu-separator,
#adminmenu div.wp-menu-name {
  border-bottom: 1px solid #dfdfdf;
}

/* line 356, ../scss/eye-candy-light.scss */
#adminmenu .wp-has-current-submenu ul > li > a:not(:first-child) {
  padding-left: 20px;
}

/* line 360, ../scss/eye-candy-light.scss */
#adminmenuback {
  border-right: 1px solid #dfdfdf;
}

/* line 364, ../scss/eye-candy-light.scss */
ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu > li.current > a.current:after {
  right: -1px;
}

/* line 368, ../scss/eye-candy-light.scss */
#collapse-menu,
#collapse-button div:after,
#collapse-menu:hover, #collapse-menu:hover #collapse-button div:after {
  color: #555;
}

/* line 374, ../scss/eye-candy-light.scss */
#adminmenu .wp-first-item div.wp-menu-name {
  border-bottom: none;
}

/* line 378, ../scss/eye-candy-light.scss */
.control-section-themes .accordion-section-title .change-theme {
  margin-top: -15px;
  font-weight: bold;
}

/* line 383, ../scss/eye-candy-light.scss */
#adminmenu .wp-has-submenu .wp-submenu .current a:hover {
  text-decoration: none;
}

/* Buttons */
/* line 1, ../scss/buttons.scss */
.page-title-action,
.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  line-height: normal;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 0;
}

/* line 14, ../scss/buttons.scss */
.page-title-action:hover,
.button:hover {
  z-index: 1000;
}

/* line 19, ../scss/buttons.scss */
.ink {
  display: block;
  position: absolute;
  background: rgba(85, 85, 85, 0.3);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
}

/* line 30, ../scss/buttons.scss */
.animate {
  -webkit-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
/* line 52, ../scss/buttons.scss */
.cyan {
  background: #00bcd4;
}

/* line 56, ../scss/buttons.scss */
.lightgreen {
  background: #8bc34a;
}

/* line 60, ../scss/buttons.scss */
.amber {
  background: #ffc107;
}

/* line 64, ../scss/buttons.scss */
.orange {
  background: #ff9800;
}

/* Radial Out */
/* line 69, ../scss/buttons.scss */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 50%;
}

/* line 87, ../scss/buttons.scss */
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 106, ../scss/buttons.scss */
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}

/* line 109, ../scss/buttons.scss */
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
      transform: scale(2);
}
